<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59055/OlaMundo.svc/svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="ServiceOlaMundo.IService"
        name="BasicHttpBinding_IService" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="OlaMundo.svc" service="OlaMundo.Service.Service"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="OlaMundo.Service.Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7874"/>
          </baseAddresses>
        </host>
        <endpoint address="svc"
                  binding="basicHttpBinding"
                  contract="OlaMundo.Service.IService">
        </endpoint>
        <endpoint address="/rest"
                  binding="webHttpBinding"
                  behaviorConfiguration="rest.behavior"
                  contract="OlaMundo.Service.IService">
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="rest.behavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>